<!DOCTYPE html>
<html>
    <head>
        {% include('analytics.html.twig') %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}print4health{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a44ba75d0b.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}
        {% set description = 'Solidarisches Crowdproducing mittels 3D-Druck. Eine Plattform die Menschen aus dem Gesundheitswesen mit 3D Druckern verknüpft um den hohen Bedarf an med. Geräten und Helfern im Alltag zu stillen' %}
        <meta name="description" content="{{ description }}">
        <meta name="author" content="print4health">
        <meta property="og:locale" content="de_DE" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="print4health - Helfen mit 3D-Druck" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:url" content="{{ url('home') }}" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="800" />
        <meta property="og:image" content="{{ url('home') }}print4health.jpg" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ description }}" />
        <meta name="twitter:title" content="print4health - Helfen mit 3D-Druck" />
        <meta name="twitter:site" content="@Print4Health" />
        <meta name="twitter:image" content="{{ url('home') }}print4health.jpg" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
